#content {
    position:relative;
   }

.case{
    width: 200px;
    height: 150px;    
    border: 1px solid white;    
    background:#676470;
    transition:all 0.3s ease;         
}
.player1{
    width: 200px;
    height: 150px;    
    border: 1px solid white;    
    background: greenyellow;      
}
.player2{
    width: 200px;
    height: 150px;    
    border: 1px solid white;    
    background: blue;      
}
.note{
    position: absolute;
    top: 9px;
    left:  1470px;
    width: 360px;
    height: 150px; 
    border:solid 5px #DEDEDE; 
    background:#EFEFEF;
    color:#222222;
    padding:4px;
    text-align:center;    
}
.display1 {
    position: absolute;
    top: 180px;
    left:  1470px;
    width: 360px;
    height: 150px; 
    border:solid 5px grey;     
    color:#222222;
    padding:4px;
    text-align:center;
    line-height: 150px;
    background: greenyellow; 
}
.display2 {
    position: absolute;
    top: 180px;
    left:  1470px;
    width: 360px;
    height: 150px; 
    border:solid 5px grey;    
    color:#222222;
    padding:4px;
    text-align:center;
    line-height: 150px;
    background: blue;   
}
.fade
{
    opacity:1;
}
.fade:hover
{
    opacity:0.5;
}
